body{
    /* background-image: url(back.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    margin:20px;
    background-color: rgba(35, 5, 27, 0.8);
    background-color: ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blanchedalmond;
    padding: 20px;
    padding-left:150px;
    padding-right:100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #header h2 {
    margin: 0;
    font-weight: bold;
    color: #1a5fff; /* Blue text */
  }
  #header span:last-child a {
    margin-left: 10px;
    text-decoration: none;
    background-color:rgba(35, 5, 27, 0.8);
    color:white;
    padding: 5px 20px;
    margin:10px;
    border-radius: 4px;
    font-weight: bold;
    transform: scale(1.1);
  }
  #header span:last-child a:hover {
    background-color:rgba(118, 34, 95, 0.8);
    transform: scale(1.1);
  }

  div:hover {
    transform: scale(1.01);
  }
#intro{
    background-color: blanchedalmond;
    margin:10px ;
    padding:20px 20px;

}

#video{
    background-color: blanchedalmond;
    padding:40px;
}

#about{
    background-color: blanchedalmond;
    margin:10px ;
    padding:20px 20px;
}

#pic {
    padding: 20px;
    background-color: blanchedalmond;
  }
  #pic h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
  .text {
    flex: 1;
    text-align: justify;
  }
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .image img {
    width:700px;
    height: 900px; ;
  }

  #last { 
    margin-top:10px;
    padding:10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: blanchedalmond;
  }

  #last p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .button-container button {
    padding: 12px 20px;
    background-color:rgba(35, 5, 27, 0.8);
    color:black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .button-container button:hover {
    transform: scale(1.1);
    background-color:rgba(91, 25, 74, 0.8);
  }

  .button-container a {
    font-weight: bold;
    color:white;
    text-decoration: none;
  }